<div class="input-field">
  <i class="material-icons prefix">search</i>
  <input
    #userInput
    [value]="searchTerm()"
    (input)="searchTerm.set(userInput.value)"
    type="text"
    placeholder="Rechercher un pokemon ..."
  />
</div>

<div class="input-field">
  <i class="material-icons prefix">search</i>
  <input
    #typesearch
    type="text"
    placeholder="entrez un type de pokemon"
    [value]="typeSearchTerm()"
    (input)="typeSearchTerm.set(typesearch.value)"
  />
</div>

<pokemonsList [pokemonsResult]="pokemons()"></pokemonsList>
<div *ngIf="loading()">
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
</div>