<div class="container">
  <div class="card grey lighten-5 mt-5">
    <div class="card-content">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="card-content">
            <span class="card-title">{{ pokemonName.value }}</span>
           
              <table class="table-noborder">
                <tbody>
                  <tr>
                    <th>Name</th>
                    <td>
                      <div class="input-field">
                        <input
                          formControlName="name"
                          type="text"
                          [value]="pokemonName"
                          placeholder="Entrez un nom de Pokémon"
                          id="name"
                          [class.invalid]="pokemonName.invalid && pokemonName.dirty" />
                        @if(pokemonName.dirty && pokemonName.hasError('required')){
                        <span dat>{{ errorMessages.Required }}</span>
                        <span class="helper-text" [attr.data-error]="errorMessages.Required"></span>

                        } @if(pokemonName.dirty && pokemonName.hasError('minlength')){
                        <span
                          class="helper-text"
                          [attr.data-error]="errorMessages.MinLength"></span>
                        } @if(pokemonName.dirty && pokemonName.hasError('maxlength')){
                        <span
                          class="helper-text"
                          [attr.data-error]="errorMessages.MaxLength"></span>
                        }
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>Url de l'image</th>
                    <td>
                      <img [src]="pokemonPicture.value" class="responsive-img" />
                      <div class="input-field">
                                              <input formControlName="picture" type="text" [value]="pokemonPicture" placeholder="Entrez une url d'image" />

                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>Points de vie</th>
                    <td>
                      <div class="input-field">
                        <div class="valign-wrapper">
                          <div class="col s2">
                            <button
                              type="button"
                              [class.disabled]="pokemonLife.hasError('min')"
                              [disabled]="pokemonLife.hasError('min')"
                              class="btn filled deep-orange accent-4"
                              (click)="decrementLife()">
                              -
                            </button>
                          </div>
                          <div class="col s8">
                            <input
                              formControlName="hp"
                              type="number"
                              class="center-align"
                              [value]="pokemonLife" />
                          </div>
                          <div class="col s2">
                            <button
                              type="button"
                              [class.disabled]="pokemonLife.hasError('max')"
                              [disabled]="pokemonLife.hasError('max')"
                              class="btn filled deep-orange accent-4"
                              (click)="incrementLife()">
                              +
                            </button>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>Dégâts</th>
                    <td>
                      <div class="input-field">
                        <div class="valign-wrapper">
                          <div class="col s2">
                            <button
                              type="button"
                              [class.disabled]="pokemonDamage.hasError('min')"
                              [disabled]="pokemonDamage.hasError('min')"
                              class="btn filled deep-orange accent-4"
                              (click)="decrementDamage()">
                              -
                            </button>
                          </div>
                          <div class="col s8">
                            <input
                              formControlName="damage"
                              type="number"
                              class="center-align"
                              [value]="pokemonDamage" />
                          </div>
                          <div class="col s2">
                            <button
                              type="button"
                              [class.disabled]="pokemonDamage.hasError('max')"
                              [disabled]="pokemonDamage.hasError('max')"
                              class="btn filled deep-orange accent-4"
                              (click)="incrementDamage()">
                              +
                            </button>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th></th>
                    <td>
                      @for (selectedType of pokemonTypeList.controls; track $index) {
                      <div class="bold mr-2 {{ selectedType.value | pokemonTypeColor }}">
                        {{ selectedType.value }}
                      </div>
                      } @if(pokemonTypeList.hasError('required')){
                      <span class="helper-text" [attr.data-error]="errorMessages.Required">{{
                        errorMessages.Required
                      }}</span>
                      }
                    </td>
                  </tr>
                  <tr>
                    <th>Types</th>
                    <td>
                      <div class="row">
                        @for (type of pokemonService.getPokemonTypeList(); track type) {
                        <div class="col s12 m4">
                          <label>
                            <input
                              #checkbox
                              [disabled]="
                                !isPokemonTypeSelected(type.name) &&
                                pokemonTypeList.hasError('maxlength')
                              "
                              (change)="onPokemonTypeChange(type.name, checkbox.checked)"
                              [checked]="isPokemonTypeSelected(type.name)"
                              type="checkbox"

                              [value]="type"
                              [id]="type"
                              class="filled-in {{ (type.name)| pokemonTypeColor }}" />

                            <span>{{ type.name }}</span>
                          </label>
                        </div>
                        }
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
         

            <div class="row mt-3 g-3">
              
                <button
                  class="btn filled deep-orange accent-4"
                  [routerLink]="['/pokemons']">
                  RETOUR
                </button>
            
             
             
                <button
                  [disabled]="form.invalid"
                  [class.disabled]="form.invalid"
                  class="btn filled deep-orange accent-4">
                  SAUVEGARDER
                </button>
            
            </div>
          </div>
        </form>
     
    </div>
  </div>
</div>
