<input #userInput [value]="searchTerm()" (input)="searchTerm.set(userInput.value)" type="text" placeholder="Rechercher un pokemon ..."/>
<button class="waves-effect waves-light btn my-1" (click)="GetPokemon(userInput.value)">Rechercher</button>
<p *ngIf="selectPokemon == undefined">Aucun pokemon selectionné</p>

<div class="my-1" *ngIf="selectedPokemon"> Pokemon trouvé : {{selectedPokemon.name}}</div>

<div class="row my-1">
    <div *ngFor="let pokemon of pokemons()" class="col s4" [attr.id]="pokemon.id">
        <div routerLink="/pokemons/{{pokemon.name}}" pkmCard="#279AF1" class="card darken-1 card-pkm" [class.selected]="selectedPokemon != undefined && pokemon.name==selectedPokemon.name">
            <div class="card-content" [class.white-text]="selectedPokemon != undefined && pokemon.name==selectedPokemon.name">
                <div class="row" style="margin-bottom: 0;">
                    <div class="col s6">
                        <img [ngSrc]="pokemon.picture" width="120" height="120"/>
                    </div>
                    <div class="col s6">
                        <p>
                            {{pokemon.name}}
                        </p>
                        <p>
                            {{pokemon.created | date:"dd/MM/YYY"  }}
                        </p>
                        <p>
                            Point de vie : {{pokemon.hp}}
                        </p>
                        <span style="margin-top: 10px;" *ngFor="let type of pokemon.types" class="bold {{ type | pokemonTypeColor}}">
                          <b>{{ type.name }}</b>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>