<ng-content />
  <div class="row">
    <app-card-add-pokemon class="col s12 m6 xl4" id="card-add" [routerLink]="['/pokemons/add']"></app-card-add-pokemon>
    <div *ngFor="let pokemon of pokemonsResult" class="col s12 m6 xl4" [attr.id]="pokemon.id">
      <div
        [routerLink]="['/pokemons/edit', pokemon.id]"
        pkmCard="#6fbcf6"
        class="card darken-1 card-pkm"
        [class.selected]="selectedPokemon != undefined && pokemon.name == selectedPokemon.name">
        <div
          class="card-content"
          [class.white-text]="selectedPokemon != undefined && pokemon.name == selectedPokemon.name">
          <div class="row" style="margin-bottom: 0">
            <div class="edit-overlay">
              <span style="font-family: 'MyCustomFont'; font-size: 42px" class="edit-text">EDITER</span>
            </div>
            <div class="col s6">
              <img [ngSrc]="pokemon.picture" width="120" height="120" class="picture" />
            </div>
            <div class="col s6">
              <p style="font-size: large; font-weight: 500">
                {{ pokemon.name }}
              </p>
              <p>
                {{ pokemon.created | date : 'dd/MM/YYY' }}
              </p>
              <p>Point de vie : {{ pokemon.hp }}</p>
              <div class="row g-1">
                <span
                  
                  *ngFor="let type of pokemon.types"
                  class="col s6 m12 xl6 justify-center mt-2 bold {{ type | pokemonTypeColor }}">
                  <b>{{ type }}</b>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

